<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">
    <button (click)="onEditCourse()">Edit Course</button>
  </div>


  <!-- The as gives a name to the expression on the left.
  In general if you are fetching data from the backend
  and you are receiving an observable in return from a service
  in your service layer, it is recommended to pass the data to
  the template using the async pipe, because this has the advantage
  that whenever the component is destroyed the async pipe
  will take care of unsubcribing from the observable.
  This is good to avoid memory leaks. -->
  <!-- <div class="courses" *ngIf="courses$ | async as courses"> -->
  <!-- <div class="courses"> -->
  <div class="courses" *ngIf="courses$ | async as courses">


  <!-- here we detect the event triggered when we hit the save button-->
  <!-- here we subscribe to courseChanged event
    which is defined in the course-card.component.ts file
    which has an emitter that emits a course
  and we call the save method and we pass the course emitted by the event-->
    <course-card *ngFor="let course of courses"
                 (courseChanged)="save($event)"
                 [course]="course">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>

  </div>


</div>




